/* 404.css */


#pagenotfound {
	background: url('../images/pagenotfound/pagenotfound.jpg') no-repeat;
	width: 1045px;
	height: 449px;
}

#pagenotfound p {
	color: white;
	text-shadow: 2px 2px 2px red;
	text-align: center;
	font-size: 50px;
	padding-top: 135px;
}

footer {
	margin-top: 0;
}