/* contactus.css */


main {
	background: url('../images/contactus-page/cupcakes.png') no-repeat;
	width: 1045px;
	height: 499px;
}

#form-wrapper {
	float: left;
	width: 70%;
	margin-top: 90px;
	margin-left: 155px;
	background-color: rgba(255, 239, 213, 0.4);
	border: 1px solid rgba(255, 226, 179, 0.4);
	border-radius: 15px;
	text-align: center;
}

#form-wrapper h1 {
	padding: 25px 0 10px;
	color: #585858;
}

fieldset {
	color: #000;
	border: none;
}

#contactusform ul li {
	padding-top: 10px;
	clear: both;
}

label {
	float: left;
	width: 165px;
	margin-right: 5px;
	text-align: right;
}

#contactusform li input, textarea {
	float: left;
	width: 300px;
}

.required {
	font-size: 70%;
	font-style: italic;
}

/* submit button */
p input {
	display: block;
	margin-left: 185px;
	width: 90px;
	background-color: #835F6D;
	color: #fff;
}

p input:hover {
	background-color: #fff;
	color: #835F6D;
}

/* error messages */
label#name-error.error, label#email-error.error, label#message-error.error {
	background-image: url("../images/red_x.gif");
	background-repeat: no-repeat;
	text-align: left;
	margin-left: 5px;
	padding-left: 18px;
	width: 160px;
	color: red;
	font-style: italic;
}

/* footer */
footer {
	margin-top: 0;
}